.basicinfo {
  margin-bottom: 40px;
  font-size: 14px;
}

p {
  margin-bottom: 3px;
}

.fullname {
  font-weight: bold;
  font-size: 28px;
  text-transform: capitalize;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-bottom: 8px;
}

.address, .email, .phone {
  margin-left: 10px;
}