.basicinfo {
  margin-bottom: 40px;
  font-size: 14px;
  display: flex;
  align-self: flex-start;
}

p {
  margin-bottom: 3px;
}

.fullname {
  font-weight: bold;
  font-size: 28px;
  text-transform: capitalize;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-bottom: 8px;
}

.fullnameinputs{
  display: flex;
}

.address, .email, .phone {
  margin-left: 10px;
}

.basicinfoform {
  display: flex;
  flex-direction: column;
}

.basicinfobtn {
  align-self: flex-start;
}