
.sectionheader {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: 2px;
}

h2 {
  margin-right: 10px;
  align-self:flex-end;
}

.editBtn {
  align-self:flex-end;
  padding: 5px;
  border-radius: 50%;
}

.editBtn:hover {
  background-color: rgb(245, 228, 231);
}

.editBtn:active {
  background-color: rgb(244, 174, 187);
}

hr.undersectionheader {
  margin-bottom: 10px;
}