.skill {
  text-transform: capitalize;
}

.skillList {
  line-height: 20px;
}

.skillform {
  padding: 15px;
  background-color: aliceblue;
  width: 80%;
  display: grid;
  grid-template-columns: fit-content(40px) auto;
  grid-template-rows: 2em 2em auto;
}

.buttons {
  display: flex;
  justify-content: center;
}

input {
  padding-left: 5px;
}