.skill {
  text-transform: capitalize;
}

.skillList {
  line-height: 20px;
}

.skillform {
  padding: 15px;
  background-color: aliceblue;
  width: 80%;
  display: grid;
  grid-template-columns: fit-content(40px) auto;
  grid-template-rows: 2em 2em auto;
}

.skillseditbtn {
  margin-left: 15px;
  border-radius:50%;
  height: 19px;
  vertical-align:middle;
}

.buttons {
  display: flex;
  justify-content: center;
}

input {
  padding-left: 5px;
}

.skills--button-round {
  margin-left: 15px;
  border-radius:50%;
  height: 19px;
  vertical-align:middle;
}

.skills--button-round:hover {
  background-color: var(--btn-hover);
}

.skills--button-round:active {
  background-color: var(--btn-active);
}

li {
  list-style: none;
}

