* {
  margin: 0px;
  padding: 0px;
  font-family:'Courier New', Courier, monospace;
}

.section {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

/* .entry {
  color: blue;
  display: flex;
  flex-direction: row;
  gap:10px;
} */

/* .job {
  color: red;
  display: flex;
  flex-direction: row;
  gap: 10px;
} */

